@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<div class="container mx-auto p-4 flex flex-col items-center bg-background text-textcolor dark:bg-darkbackground dark:text-darktextcolor">
    <h2 class="text-2xl font-semibold mb-4 dark:text-white">Register</h2>
    <form class="bg-gray-200 dark:bg-gray-700 p-6 rounded">
        <div class="mb-4 text-textcolor dark:text-white">
            <label for="name" class="block font-medium mb-2">Name:</label>
            <input type="text" id="name" name="name" class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500 text-black" required />
        </div>
        <div class="mb-4 text-textcolor dark:text-white">
            <label for="lastName" class="block font-medium mb-2">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500 text-black" required />
        </div>
        <div class="mb-4 text-textcolor dark:text-white">
            <label for="email" class="block font-medium mb-2">Email:</label>
            <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500 text-black" required />
        </div>
        <div class="mb-4 text-textcolor dark:text-white">
            <label for="password" class="block font-medium mb-2">Password:</label>
            <input type="password" id="password" name="password" class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500 text-black" required />
        </div>        <div class="flex justify-center flex-col items-center">
            <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:bg-blue-700 dark:bg-darkprimary dark:hover:bg-darkaccent dark:focus:ring-darkaccent mt-2">Register</button>
            <div class="mt-4 text-textcolor dark:text-white">
                <a asp-controller="Account" asp-action="Login" class="hover:underline">Already have an account?</a>
            </div>
        </div>
    </form>
</div>
</html>
