################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/node_modules
/.vs/JAS/FileContentIndex/edab6d99-9c82-4fde-a637-93db5c7829b7.vsidx
*.vsidx
