################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/node_modules
/.vs/JAS/FileContentIndex/edab6d99-9c82-4fde-a637-93db5c7829b7.vsidx
*.vsidx
/Controllers/.vshistory
/.vshistory/appsettings.json
/Models/Domain/.vshistory
/Models/Domain/CompositeModel/.vshistory/StatusComposite.cs
/Views/Application/.vshistory/Index.cshtml
/Views/Application/.vshistory/Index.cshtml/2024-01-26_02_33_57_280.cshtml
/Views/JobListing/.vshistory
/Views/JobListing/.vshistory/Create.cshtml/2024-01-27_22_50_42_191.cshtml
/Views/Roles/.vshistory/ViewRole.cshtml
/Views/Shared/.vshistory
/Views/Shared/.vshistory/_LayoutCompany.cshtml/2024-01-27_21_46_44_263.cshtml
/Views/Status/.vshistory/Index.cshtml
/Views/Status/.vshistory/View.cshtml
/Models/Domain/CompositeModel/.vshistory
/Views/Application/.vshistory/Write.cshtml
/Views/CV/.vshistory/Create.cshtml
/Views/Home/.vshistory/Index.cshtml
/Views/Account/.vshistory/AddCompany.cshtml
/Areas/Identity/Pages/Account/Manage/.vshistory/_ManageNav.cshtml
/Views/Account/.vshistory/AccountSetting.cshtml
/Views/Application/.vshistory/StatusApplication.cshtml
/Views/City/.vshistory/AddCity.cshtml
/Views/City/.vshistory/Index.cshtml
/Views/City/.vshistory/ViewCity.cshtml
/Views/City/.vshistory/ViewCity.cshtml/2024-01-29_22_03_04_648.cshtml
/Views/Country/.vshistory/AddCountry.cshtml
/Views/Country/.vshistory/Index.cshtml
/Views/Country/.vshistory/ViewCountry.cshtml
/Views/Dashboard/.vshistory/AdminDashboard.cshtml
/Views/Dashboard/.vshistory/CompanyDashboard.cshtml
/Views/Dashboard/.vshistory/JobSeekerDashboard.cshtml
/Views/Dashboard/.vshistory/JobSeekerDashboard.cshtml/2024-01-27_21_46_44_260.cshtml
/Views/JobCategory/.vshistory
/Views/Message/.vshistory/Success.cshtml
/wwwroot/js/.vshistory/search.js
