@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-center items-center dark:text-darktextcolor p-5">
    <div style="width:500px;" class="mx-auto my-8">
        <creattie-embed src="https://d1jj76g3lut4fe.cloudfront.net/saved_colors/83407/QI8nGtMLY8dJuwNC.json"
                        speed="100"
                        frame_rate="24"
                        stroke_width="17.5"
                        trigger="loop">
        </creattie-embed>
    </div>
    <div class="text-center space-y-3 mb-5">
        <h2 class="text font-medium text-textcolor dark:text-darktextcolor">Success! You have created an account</h2>
        <h4 class="text font-light text-textcolor dark:text-darktextcolor">You will be redirected shortly!</h4>
    </div>
</div>

<script src="https://creattie.com/js/embed.js?id=3f6954fde297cd31b441" defer></script>


<script>
    var razorPageUrl = '@Url.Action("Index", "Home")';

    var delay = '5000';

    setTimeout(function () {
        window.location.href = razorPageUrl;
    }, delay);
</script>