@model List<JAS.Models.Domain.City>

@{
    ViewData["Title"] = "Citys";
}

<html lang="en">
<head>
</head>
<body>
    <div class="mx-custom">
        <table>



            <tr>

                <th>#</th>

                <th>Name</th>

                <th>Country #ID</th>

                <th>Action</th>
            </tr>


            @foreach (var city in Model)
            {
                <tr>
                    <th scope="row">@city.cityId</th>
                    <td>@city.cityName</td>
                    <td>@city.countryId</td>
                    <td><a href="@Url.Action("ViewCity", "City", new { ID_City = city.cityId })"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>View</a></td>
                </tr>
            }

        </table>
    </div>

    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>