@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4 text-center">Site is under construction!</h1>
<div class="flex justify-center items-center">
    <img class="rounded-lg shadow hover:shadow-lg mt-6" src="~/content/Baustelle.jpg" />
</div>
