@{
    ViewData["Title"] = "Home Page";
}


<div class="space-y-5">
    <h1 class="text-center text-textcolor dark:text-darktextcolor">Site is under construction!</h1>
    <div class="flex justify-center items-center">
        <img class="rounded-lg shadow hover:shadow-lg" src="~/content/Baustelle.jpg" />
    </div>
</div>