@model List<JAS.Models.Domain.CompositeModel.HomePageComposite>

<h1>Job Listings</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody
@if (Model != null)
{
    foreach (var job in Model)
    {
        <tr>
            <td>@(job.Title ?? "N/A")</td>
            <td>@(job.CompanyName ?? "N/A")</td>
            <td>@(job.CategoryName ?? "N/A")</td>
            <td><a href="JobListing/View/@job.JobId">View</a></td>
        </tr>
    }
}
else
{
    <p>No data available.</p>
    }
 </tbody>
</table>
